<div class="pagetitle">
    <h1>RESEÑAS</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">home</a></li>
            <li class="breadcrumb-item active"><a href="opiniones">opiniones</a></li>
        </ol>
    </nav>
</div>
<a class="btn btn-success float-end" href="opiniones/nuevo" ><i class="fa fa-plus-circle"></i>
    Agregar</a><br><br>

<div class="panel-body table-responsive" id="listadoregistros">
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Id</th>
                <th>Plato</th>
                <th>Calificacion</th>
                <th>Cliente</th>
                <th>Comentario</th>
                <th>Fecha</th>               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let opiniones of opiniones">
                <td><a class="btn btn-warning" (click)="actualizarOpinion(opiniones.idopinion)"><i class="fa-solid fa-pencil"></i></a>
                    <a class="btn btn-danger"  (click)="eliminarOpinion(opiniones.idopinion)"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                <td>{{opiniones.idopinion}}</td>
                <td>{{opiniones.platos}}</td>
                <td>{{opiniones.calificacion}}</td>
                <td>{{opiniones.clientes}}</td>
                <td>{{opiniones.comentario}}</td>
                <td>{{opiniones.fecha}}</td>
            </tr>
        </tbody>
        <tfoot>
            <th>Acciones</th>
            <th>Id</th>
            <th>Plato</th>
            <th>Calificacion</th>
            <th>Cliente</th>
            <th>Comentario</th>
            <th>Fecha</th>
    </tfoot>
    </table>
</div>
