<div class="box-header with-border text-center">
    <a class="btn btn-success float-end" th:href="@{/ordenes/nuevo}" ><i class="fa fa-plus-circle"></i>
            Agregar</a><br>
    <div class="box-tools pull-right">
    </div>
 </div>
<h2 class="text-center">Lista Personal</h2>

<div class="panel-body table-responsive" id="listadoregistros">
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Id</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Plato</th>
                <th>Total</th>
                
            </tr>
        
        </thead>
        <tbody>

            <tr *ngFor="let personal of personal">
                <td><a class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
                    <a class="btn btn-danger" ><i class="fa-solid fa-xmark"></i></a>
                    </td>
                <td>{{personal.idpersonal}}</td>
                <td>{{personal.nombre}}</td>
                <td>{{personal.dni}}</td>
                <td>{{personal.cargo}}</td>
                <td>{{personal.imagen}}</td>
            </tr>
        </tbody>
        <tfoot>
            <th>Acciones</th>
                <th>Id</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Plato</th>
                <th>Total</th>
        </tfoot>
    </table>
</div>
